@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');
*{
    font-family:VT323 ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    background-color: whitesmoke;
    color: black;
    height: 100%;
}

/* HEADER */
header{
    background-color: #1E1E1E;
    width: 100%;
    height: 140px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    clear: both;
    display: flex;

    justify-content: space-between;
}
header img{
    padding-top: 10px;
    padding-left: 20px;
    height: 120px;
}
.textlogo{
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    font-size: 5vw;
    line-height: 150px;
    padding-left: 15px;
}
nav ul li a{
    font-size: 40px;
    float: right;
    margin-right: 3vh;
    cursor: pointer;
    color: whitesmoke;
    transition: text-shadow 0.2s ease-in-out;
}
nav ul li {
    position: relative;
    padding-top: 50px;
    list-style: none;
    margin-left: calc(8vw - 50px);
    float: right;
}
nav ul li a:hover{
    color: hotpink;
    text-shadow:0 0 50px hotpink;
    text-decoration:dashed;
}
#check, .checkbtn{
    display: none;
    color: white;
    float: right;
    font-size: 70px;
    line-height: 160px;
    cursor: pointer;
}
.checkbtn:hover{
    color: hotpink;
    text-shadow:0 0 15px hotpink;
}

.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 2.5rem;
}
.container h3{
    font-size: 4.5rem;
    font-weight: 400;
}

.section_inputs{
    display:flex;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
}

form{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

label{
    display: flex;
    flex-direction:column;
    gap: 5px;
}

.section_inputs label input{
    height: 3rem;
    width: 12rem;
    background-color: #d9d9d9;
    border: none;
    padding: 18px 14px;
    margin-bottom: 1rem;
    outline: none;
    font-size: 14pt;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.50));
    transition: box-shadow 0.2s;
}

label input:hover{
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.50);
}
.contenido span{
    font-size: 2.9vh;
    text-align: center;
}
label textarea{
    background-color: #d9d9d9;
    border: none;
    padding: 18px 14px;
    outline: none;
    font-size: 14pt;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.50));
    transition: box-shadow 0.2s;
    resize: none;
}
label textarea:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.50);
}

.checkbox-label{
    display: flex;
    flex-direction: row;
}
.checkbox-label input[type="checkbox"]{
    width: 15px;
}
.checkbox-label span{
    font-weight: 400;
}

.submit-btn{
    display:flex;
    align-self: flex-end;
    text-align: center;
    padding: 13px 30px;
    margin: 1rem;
    background-color: #1E1E1E;
    color: whitesmoke;
    font-weight: 500;
    font-size: 14pt;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.submit-btn:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}
.submit-btn:focus{
    color: hotpink;
}
/* Footer */
footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #1E1E1E;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content:space-between;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.bxl-github{
    font-size: 50px;
    color: black;
}
.ap{
    height: 50px;
}
footer span{
    line-height: 50px;
    font-size: 30px;
}
.bxl-github:hover{
    color: red;
}


@media (max-width: 1190px) {
     /* HEADER */
     .checkbtn, .check{
        display: inline;
    }
    nav ul{
        position: absolute;
        top: 15vh;
        z-index: 2;
        background-color: #1E1E1E;
        display: none;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 185px;
        padding-bottom: 20px;
    }
    nav ul li a{
        font-size: 40px;
    }
    .starterul{
        margin-top: 0px;
        padding-top: 0px;

    }
    #check:checked ~ ul{
        right: 0.1vw;
        display: flex;
    }
    
    /* Footer */
    footer{
        padding-top: 10px;
        padding-bottom: 5px;
        color: #1E1E1E;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content:space-between;
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
        }
        .ap{
        height: 30px;
        }
        footer span{
        line-height: 30px;
        font-size: 89%;
        text-align: center;
        }
        .bxl-github{
            font-size: 30px;
        }
        }


@media (max-width: 440px){

    /* HEADER */
    .textlogo{
        display:none;
    }
    header{
        height: 70px;
    }
    .background{
        height: calc(100vh - 70px);
    }
    header img{
        margin-left: 0px;
        height: 60px;
    }
    .checkbtn{
        margin-right: 10px;
        font-size: 50px;
        line-height: 85px;
    }
    nav ul{
        position: absolute;
        top: 8vh;
        z-index: 2;
        background-color: #1E1E1E;
        display: none;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 110px;
        padding-bottom: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .starterul{
        margin-top: 10px;
        padding-top: 0px;
    }

    .container h3{
        font-size: 3rem;
        font-weight: 400;
    }

    form{
        gap: 5px;
    }

    .section_inputs{
        display:block;
    }
    .section_inputs label input{
        width: 100%;
        font-size: 16pt;
    }

    label textarea{
        font-size: 16pt;
    }
    
    .checkbox-label{
        padding-top: 1rem;
    }

    .submit-btn{
        font-size: 16pt;
    }
    /* Footer */
    footer{
    padding-top: 10px;
    padding-bottom: 2%;
    color: #1E1E1E;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content:space-between;
    background-image: linear-gradient(top, #fad0c4 0%, #ffd1ff 100%);
    }
    .bxl-github{
        font-size:30px;
    }
    .ap{
    height: 20px;
    }
    footer span{
    line-height: 20px;
    font-size: 60%;
    }
    footer{
        padding-top: 0px;
    }
    .ap, footer span{
        padding-top: 5px;
    }
}
