@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    position: relative;
} 

*{
    font-family:VT323 ;
    padding: 0;
    margin: 0;
}
/* HEADER */
header{
    background-color: #1E1E1E;
    width: 100%;
    height: 140px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    clear: both;
    display: flex;

    justify-content: space-between;
}
header img{
    padding-top: 10px;
    padding-left: 20px;
    height: 120px;
}
.textlogo{
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    font-size: 5vw;
    line-height: 150px;
    padding-left: 15px;
}
.logo:hover {
    transform: scale(1.05);
}
nav ul li a{
    font-size: 40px;
    float: right;
    margin-right: 3vh;
    cursor: pointer;
    color: whitesmoke;
    text-decoration:underline;
    transition: text-shadow 0.2s ease-in-out;
}
nav ul li {
    position: relative;
    padding-top: 40px;
    list-style: none;
    margin-left: calc(8vw - 50px);
    float: right;

}
nav ul li a:hover{
    color: hotpink;
    text-shadow:0 0 50px hotpink;
    text-decoration:dashed;
}
#check, .checkbtn{
    display: none;
    color: white;
    float: right;
    font-size: 70px;
    line-height: 160px;
    cursor: pointer;
}
.checkbtn:hover{
    color: hotpink;
    text-shadow:0 0 15px hotpink;
}
/*HOME*/
main {
    position: relative;
    height: 100%;
    width: 100%;
}
.background {
    height: calc(100vh - 140px);
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
#welcome{
    position: absolute;
    z-index: 1;
    left: 3%;
    font-size: 7vw ;
    top: 15%
}
.startnow{
    position: absolute;
    z-index: 1;  
    left: 4%;
    font-size: 4.5vw;
    top: 80%
}

/* Footer */


.utnfooter{
    width: 100%;
    position: absolute;
    left: 0;
    padding: 2rem 8%;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #d9afd9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    
}
.logoarg{  
    height:80px ;
    margin-bottom: 1rem;
}  

.Quienessomos{
    display: flex;
    justify-content: center;
    font-size: 80px;
}
.github{
    padding-right: 10%;
}
.github img{
    height: 80px;
    margin-bottom: 1rem;
}
.copa{
    padding-left: 10%;
}
.copa img{
    height: 80px;
    margin-bottom: 1rem;
}

.col-md-6{
    display: flex;
    align-items: center;
    margin: 4px;
    background-color: #18151544;
    color: azure;
    border-style: dotted;
    flex-direction: column;
    box-sizing: content-box;
}

.copyright{
    color: azure;
    bottom: 0;
    justify-content: baseline;
}


.row{
    align-items: center;
    justify-content: center;
}

.integrantes1{
    background-color: #18151544;
    justify-content: center;
    align-content: center;
}



.col-md-6 img:hover{
    cursor: pointer;
    transform: scale(1.20);
}

.col-md-6 h3:hover{
    color: hotpink;
    text-shadow:0 0 50px hotpink ;
    text-decoration:dashed;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out;
}
/* -----------------------RESPONSIVE------------------------------ */

/* GRAN TAMAÑO DE SCREEN */
@media (max-width: 1190px) {
    /* HEADER */
    .checkbtn, .check{
        display: inline;
    }
    nav ul{
        position: absolute;
        top: 15vh;
        z-index: 2;
        background-color: #1E1E1E;
        display: none;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 185px;
        padding-bottom: 20px;
    }
    nav ul li a{
        font-size: 40px;
    }
    .starterul{
        margin-top: 0px;
        padding-top: 0px;

    }
    #check:checked ~ ul{
        right: 0.1vw;
        display: flex;
    }
    }
    /* PANTALLA PEQUEÑA */
@media (max-width: 440px) {
    /* HEADER */
        header{
            height: 70px;
        }
        .background{
            height: calc(100vh - 70px);
        }
        header img{
            margin-left: 0px;
            height: 50px;
        }
        .checkbtn{
            margin-right: 10px;
            font-size: 50px;
            line-height: 85px;
        }
        nav ul{
            position: absolute;
            top: 8vh;
            z-index: 2;
            background-color: #1E1E1E;
            display: none;
            flex-direction: column-reverse;
            align-items: flex-end;
            width: 110px;
            padding-bottom: 20px;
        }
        nav ul li a{
            font-size: 20px;
        }
        .starterul{
            margin-top: 10px;
            padding-top: 0px;
        }
        }
